@import 'base';

button {
    border: none;
    border-radius: 5%;
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    color: white;
    background-color: $var-clr1;
    font-size: 30px;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
    background-color: $primary-clr;
    color: $var-clr1;
}

body {
    background-color: $var-clr4;
}

header {
    padding: 2em;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    color: $var-clr1;
    opacity: 0.7;
}

.calculator {
    background-color: white;
    border-radius: 5%;
    padding: 1rem 2rem;
}

form {
    display: grid;
}

form label {
    margin-top: 2rem;
    color: $var-clr2;
    font-size: 22px;
    font-weight: 700;
}

input {
    width: 90%;
    background-color: $var-clr5;
    text-align: right;
    font-weight: 700;
    color: $var-clr1;
}

.input__wrapper {
    margin-top: 1rem;
    padding: 0.5em;
    background-color: $var-clr5;
    font-size: 24px;
}

.calculator__tip {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.calculator__tip--btn,
.calculator__tip--input {
    margin-top: 0;
    font-size: 24px;
    padding: 0.3em;
    width: 140px;
    border-radius: 5px;
}

.calculator__tip--input:focus {
    outline: 2px solid $primary-clr;
    color: $var-clr1;
}

// Stlying of the ouputbox

.outputbox {
    margin-top: 2rem;
    background-color: $var-clr1;
    border-radius: 10px;
    padding: 1rem 2rem;
}

.outputbox__tip-amount,
.outputbox__total {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.tip-amount--text,
.total--text {
    color: white;
    letter-spacing: 0.8;
    font-weight: 700;
}

.outputbox__text--person {
    font-size: 18px;
    font-weight: 700;
    color: $var-clr3;
}

.tip-amount--number,
.total--number {
    font-size: 35px;
    font-weight: 700;
    color: $primary-clr;
}

.reset-btn {
    margin: 2rem 0;
    background-color: $primary-clr;
    color: $var-clr1;
    width: 100%;
    text-transform: uppercase;
    padding: 0.5em;
}

.reset-btn:active,
.reset-btn:focus-visible {
    outline: none;
    background-color: $primary-clr;
    color: $var-clr5;
    opacity: 0.7;
}   